@page "/"
@inherits LayoutComponentBase

<h3>Bienvenido, registrate o logueate para entrar a la aplicacion</h3>

<p>Selecciona una opción:</p>

<ul>
    <li><a href="/register">Registrarse</a></li>
    <li><a href="/login">Iniciar Sesión</a></li>
</ul>